body{
    background-image:url(../../img/camera.jpg);
    background-size:auto max(100vh, 75vw);
    background-position:center 0;
    background-repeat:no-repeat;
}
nav{
    display:flex;
    align-items:center;
    align-content:center;
}
nav a{
    margin-left:1%;
}
#login{
    background-color:unset;
    box-shadow:unset;
}
#s2{
    background-color: var(--claro);
    text-align: center;
}
#s2 div{
    margin: auto;
}
#fotografo{
    height: 85%;
}
