@charset "UTF-8";
:root{
    --cor1:#00294F;
    --cor2:#0056a7;
    --cor3:#3E89CF;
    --cor4:#ffd6b0;
    --cor5:#ff9028;
    --escuro:#00081f;
    --claro:#fff9ec;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color:var(--claro);
    color:var(--escuro);
    text-align:justify;
}
header {
    position:fixed;
    width:100vw;
    padding-top:2vh;
}
main{
    min-height:90vh;
    min-width:260px;
}
footer{
    min-height:10vh;
}
section{
    height:100vh;
    width:86%;
    max-width:1000px;
    display:flex;
    align-items:center;
    padding:0 max(7%, calc(50% - 500px));
}
p{
    text-align:justify;
    margin:15px 0px;
}
.tudo{
    max-width:1200px;
    height:100%;
    margin:auto;
    display:flex;
    align-content:space-between;
}
.tudo > *{
    width:100%;
    padding:0 5%;
}
.centro{
    margin:auto 0;
}
.base{
    margin:auto 0 0;
}
.logo{
    width: unset;
}
#logo{
    border-radius:.3rem;
    background-color:var(--cor5);
    padding:2px 7px;
}

