@charset "UTF-8";
:root{
    --cor1:#ff9022;
    --cor2:#ffcfa0;
    --cor3:#b9844f;
    --cor4:#ffc400;
    --cor5:#314e8b;
    --cor5t:#314e8b80;
    --escuro:#000316;
    --claro:#ffffff;
}
*{
    font-family:Arial,Helvetica,sans-serif;
    margin:0;
    padding:0;
    text-decoration:none;
}
body{
    background-color:var(--claro);
    color:var(--escuro);
    text-align:justify;
}
header{
    background-color:var(--cor5t);
    height:9vh;
    width:94vw;
    max-width:1100px;
    padding:0 max(3vw, calc(50vw - 550px));  
    position:fixed;
    display:flex;
    align-items:center;
    z-index:9;
}
main{
    min-height:90vh;
    min-width:260px;
}
footer{
    background-color: var(--cor5);
    min-height:10vh;
}
nav{
    height:62.5%;
    width:100%;
    display:flex;
    justify-content:flex-end;
}
section{
    width:86%;
    max-width:1000px;
    min-height:100vh;
    padding:0 max(7%,calc(50% - 500px));
}
#logo{
    margin-right:auto;
    font-size:min(1.8em,6vh);
}
.bt{
    background-color:var(--cor1);
    color:var(--claro);
    text-align:center;
    cursor:pointer;
    padding:0 1vw;
    border-radius:.3rem;
    font-size:min(1.2em,5vh);
    display:flex;
    align-items:center;
}
.bt:hover{
    color:var(--cor2);
    transition:200ms;
}
.flex{
    display:flex;
    align-items:center;
    align-content:center;
    justify-content: space-around;
    align-content: space-around;
}
.topo{
    align-items: flex-start;
}
.base{
    align-items: flex-end;
}