body{
    background-color: var(--claro);
}
form{
    background-color: var(--cor2);
    padding:.6rem;
    border-radius:.3rem;
    box-shadow: #00000066 .1rem .1rem .3rem;
}
table{
    margin:.6rem auto;
    text-align:left;
}
input{
    margin:.3rem;
    padding:.6rem;
    border-radius:.3rem;
    border:.1rem solid var(--escuro);
    background-color: var(--claro);
    box-shadow:#00000066 .1rem .1rem .3rem;
    outline:none;
}
input:hover{
    border:.1rem solid var(--cor2);
    transition:.2s;
}
input[type=submit],input[type=reset]:hover{
    cursor:pointer;
}
input:focus{
    border:.1rem solid var(--cor2);
    box-shadow:.1rem .1rem .3rem var(--escuro);
    transition:.18s;
}
#cabecalhoCapa{
    border-bottom-right-radius:.3rem;
    border-bottom-left-radius:.3rem;
}