nav{
    display:flex;
    align-items: center ;
    justify-content:flex-end;
}
.bt{
    text-align:center;
    background-color:var(--cor3);
    color:var(--claro);
    cursor:pointer;
    margin-right:1%;
    padding:10px 15px;
    border-top-right-radius:0.3rem;
    border-top-left-radius:0.3rem;
}
.bt:hover{
    color:var(--cor4);
    transition:200ms;
}
.selecionado{
    background-color:unset;
}
#cadastrar{
    border-radius:.3rem;
    background-color:var(--cor5);
}
#login{
    background-color:unset;
    box-shadow:unset;
}