.mostruario{
    width:100%;
    background-color:var(--secLight);
    border-radius:.3rem;
    margin-bottom:.6rem;
    padding: 0.6rem 0;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-evenly;
}
.imagem{
    width:45%;
    max-height:30vh;
    background-color:var(--main);
    border-radius:.3rem;
    padding:.3rem;
    margin:.3rem;
}