#fotoPerfil{
    align-self: flex-start;
}
#fotoPerfil > img{
    height: max(20vh,10vw);
}
.cabecalho{
    align-items:flex-end;
    flex-wrap:nowrap;
}
#nome{
    padding: 0 0 .6rem .6rem;
}
#dados {
    padding: 0 .6rem 0 0;
    min-width: 15vw;
}
#s1{
    display: flex;
    padding-top:15vh;
}