#fotoPerfil{
    align-self: flex-start;
}
#fotoPerfil > img{
    height: max(20vh,10vw);
}
.cabecalho{
    align-items:flex-end;
    flex-wrap:nowrap;
}
.ensaio{
    background-color: white;
    margin-top:.6rem;
    border-radius:.3rem;
}
#s1{
    align-items: flex-start;
    justify-content: center;
}
#nome{
    padding: 0 0 .6rem .6rem;
}
#conteudo{
    background-color: lightgray;
    border-radius: .3rem;
    padding:.6rem;

}
#dados {
    background-color: var(--cor2);
    border-radius: .3rem;
    margin:0 .3rem 0 0;
    padding:.6rem;

}
#s1{
    display: flex;
    padding-top:15vh;
}