.fotoPerfil{
    width: 15%;
    margin: .6rem ;
}
.mostruario{
    width:100%;
    background-color:var(--secLight);
    border-radius:.3rem;
    margin-bottom:.6rem;
    padding: 0.6rem 0;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
}
.fotografo{
    width:calc(100% - .6rem);
    align-items:center;
    background-color:var(--mainLight);
    border-radius:.3rem;
    display:flex;
    justify-content: space-around;
    margin:.3rem;
}
