body{
    background-image:url(../../imagens/camera.jpg);
    background-size:auto max(100vh, 75vw);
    background-position:center 0;
    background-repeat:no-repeat;
}
header{
    background-color:var(--cor5t);
}
#login{
    background-color:unset;
    box-shadow:unset;
}
#s1{
    text-align:center;
    justify-content: left;
}
#s2{
    background-color:var(--claro);
    flex-wrap: nowrap;
}
#d1 > h1{
    width: 100%;
}
#fotografo{
    align-self: flex-end;
    height:90vh;
    z-index:1;
}
