#cabecalho{
    text-align: unset;
}
#cabecalhoMenu{
    font-size: 150%;
}
#corpo{
    flex-wrap: nowrap;
}
#fotos{
    display: flex;
}
#fotografo{
    width: 20%;
    font-size: 120%;
    margin-right: 0.6rem;
}
#trabalhos{
    width: 80%;
    font-size: 90%;
}
.icone{
    width: 30%;
}